

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #2f363e; */
    position: relative;
    background-image: url(https://static.vecteezy.com/system/resources/previews/008/731/601/non_2x/product-display-presentation-with-bokeh-and-cloud-effect-on-a-background-orange-3d-pedestal-podium-for-autumn-sale-banner-vector.jpg);
    background-size: cover;
}
#time{
    display: flex;
    gap: 30px;
    margin-top: 15%;
    margin-left: 10%;
}
#time .circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8;
    stroke: #282828;
    transform: translate(5px, 5px);
}
#time .circle svg circle:nth-child(2){
    stroke: var(--clr);
}
#time div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 1.5em;
}
#time div span{
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.35em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
#time .dot{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}
#time .dot::before{
   content: '';
   position: absolute;
   top: -3px;
   height: 15px;
   width: 15px;
   background: var(--clr);
   border-radius: 50%;
   box-shadow: 0 0 20px var(--clr),0 0 60px var(--clr);
}

.text p{
    font-size: 2rem;
    position: absolute;
   top: 1px;
   margin-left: 10%;
   margin-top: 70px;
   color: #000;
}
.text button{
    position: absolute;
    top: 50px;
    margin-left: 25%;
    margin-top: 12%;
    border: 2px solid red;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    color:#000;
}
.text button:hover{
    transform: scale(1.2);
    box-shadow: 10px 10px  yellowgreen;
}
